*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}

.top{
    height: 230px;
    width: 85%;
    margin: 0 auto;
    display: block;
    background-color: black;
}
.top h1{
    color: white;
}
.text{
    color: white;
}

.car{
    width: 85%;
    margin: 0 auto;
    height: 600px;
 }

.ex_car{
    background-color: rgb(245,245,245);
    border-radius: 30px;
    height: 600px;
    width: 60%;
    float: left;
}

.r_text{
    width: 40%;
    height: 600px;
    background-color: black;
    float: right;

}
.r_text input{
    height: 100px;
    width: 90%;
    font-size: 25px;
    margin-top: 90px;
    margin-left: 50px;
    border-radius: 20px;
}
.r_text button{
    height: 100px;
    width: 90%;

    margin-top: 9px;
    margin-left: 50px;
    border-radius: 20px;
}