*{
    padding: 0;
    margin: 0;
}
.images_logo{
    margin: 30px 120px;
    height: 70px;
}
.over_pic_right img{
    width: 100%;
}
.over_pic_right img:hover{
    transform: scale(1.05);
    transition: 1s;
}
.over_pic_left img:hover{
    transform: scale(1.05);
    transition: 1s;
}
.over_pic_right{
    padding: 0;
    float: left;
    width: 45%;
    /*background-color: #0066B1;*/
    overflow: hidden;
}
.over_pic_left{
    float: left;
    width: 45%;
    overflow: hidden;
}
.over_pic_left img{
    width: 100%;
}
.nav_medium{
    margin: 170px 0 0 0;
    float:  left;
    /*display: inline-block;*/
    top: 60px;
    color: rgb(151,151,151);
}
.NO1{
    color: white;
}
.medium{
	width:100%;
	height:760px;
    background-color: rgb(15,15,15);
}
.nav_medium li{
    font-size: 20px;
    margin: 20px 0 20px 50px;
    list-style: none;
    text-decoration: none;
}

.left_pic{
    margin-top: 5%;
    float: right;
    width: 80%;
}


.under{
    float: right;
    width: 100%;
    height: 180px;
    background-color: black;
}

.overPic{
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-color: rgb(17,17,17);
}


.under_left{
    margin-left: 30px;
    /*background-color: #0066B1;*/
    float: left;
}
.under_left img{
    width: 260px;
    height: 64px;
    margin-top: 30px;
    margin-bottom:18px;
}

.under_left h6{
    margin-left: 30px;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    word-spacing: 5px;
}


.under_right{
    width: 500px;
    float: right;
}

.under_right_li ul{
    margin-top: 30px;
}
.under_right_li img{
    width: 30px;
    height: 30px;
}

.under_right_li li{
    margin: 20px;
    color: white;
    list-style: none;
    text-decoration: none;
    float: left;
}
.under_right_li li img{
    float: left;
}

.under_right_li li h6 {
    float: right;
    margin: 7px 6px;
    /*line-height: 250%;*/
}


.nav {
    background: url("../Image/icon-header-dark.png") no-repeat;
    background-size: 130%;
    width: 100%;
    height: 13%;
    position: fixed;
    z-index: 1000;

}
.login {

    margin-top: 3%;
    margin-right: 6%;
    text-align: center;
    color: white;
    float: right;
}

.r_ine {
    width: 202px;
    height: 92px;

}
.nav img {
    margin-left: 1%;
    margin-top: 0.5%;
    width: 20%;
}


.navlist {
    margin-right: 1%;
    float: right;
    width: 60%;
}

.navlist ul {
    margin-top: 0.5%;
    list-style: none;
    width: 100%;
    float: right;
    /*border-bottom :  1px solid  #bfbfbf;*/

}

.navlist li a {
    font-weight: normal;
    display: block;
    margin-left: 5px;
    padding: 20px 16px;
    color: #bfbfbf;
    width: 100%;
    text-decoration: none;
}

.navlist li {
    margin-top: 15px;
    float: left;
    margin-left: 5px;
    font-size: 20px;
}

.r_ine {
    width: 202px;
    height: 92px;

}

.navlist ul li:not(.Sed):hover {
    border-bottom: 4px solid #1C69D4;
}
